<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PAPI - PredictionAPI</title>
    <author>Christian Bernecker</author>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container .fluid">
        <h1>Welcome to PAPI - PredictionAPI</h1>
        <div id="nameInput" >
        <p class="lead">Welcome to PAPI  a powerfull classification tool developed by Christian Bernecker</p>
        <p> 
            PAPI is a REST API that stands for an easy handling of classification models. PAPI can be used on your local systems for 
            testing or on your server and the IBM Cloud for production usage. It has an integrated caching system that allows you to 
            do prediction within MS. The only thing you have to do is to upload your models under the prediction_models folder and define 
            it on the missionInScope.json.   
            
            For a demo purpose the system is already feed with 2 identical models (ModelX and ModelY) based on the KAGGLE News Category
            DataSet: https://www.kaggle.com/rmisra/news-category-dataset. I only picked 4 classes of the dataset.  </p>
        </div>
    </div>    
</body>

</html>
